<div class="container">
  <div class="row" cdkDropListGroup>
    <div class="col">
      <div class="card-container" cdkDrag>
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h1 class="card-title text-muted text-uppercase text-center">TO DO</h1>
            <hr>
            <div class="drop"
                 cdkDropList
                 #todoList="cdkDropList"
                 [cdkDropListData]="todo"
                 [cdkDropListConnectedTo]="[doingList]"
                 [cdkDropListConnectedTo]="[doneList]"
                 (cdkDropListDropped)="drop($event)">
              <div *ngFor="let item of todo; let i = index" cdkDrag>
                <div class="container">
                  <div class="hover" id="todo">
                    <div class="row">
                      <div class="col"><strong> {{item.taskTitle }}</strong>{{" "+item.taskDate}}</div>
                      <div class="col">
                        <a class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-xs btn-danger" (click)="delete(i,0)"><span class="glyphicon glyphicon-eye-open"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-container" cdkDrag>
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h1 class="card-title text-muted text-uppercase text-center">IN PROGRESS</h1>
            <hr>
            <div
              class="drop"
              cdkDropList
              #doingList="cdkDropList"
              [cdkDropListData]="doing"
              [cdkDropListConnectedTo]="[todoList]"
              [cdkDropListConnectedTo]="[doneList]"
              (cdkDropListDropped)="drop($event)">
              <div *ngFor="let item of doing; let i = index " cdkDrag>
                <div class="container">
                  <div class="hover">
                    <div class="row">
                      <div class="col"><strong> {{item.taskTitle }}</strong>{{" "+item.taskDate}}</div>
                      <div class="col">
                        <a class="btn btn-xs btn-warning" (click)="modify(item)"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-xs btn-danger" (click)="delete(i,1)" ><span class="glyphicon glyphicon-eye-open"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-container" cdkDrag>
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h1 class="card-title text-muted text-uppercase text-center">DONE</h1>
            <hr>
            <div
              cdkDropList
              class="drop"
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList]"
              [cdkDropListConnectedTo]="[doingList]"
              (cdkDropListDropped)="drop($event)">
              <div *ngFor="let item of done; let i = index" cdkDrag>
                <div class="container">
                  <div class="hover" id="done">
                    <div class="row">
                      <div class="col" ><strong> {{item.taskTitle }}</strong>{{" "+item.taskDate}}</div>
                      <div class="col">
                        <a class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-xs btn-danger" (click)="delete(i,2)"><span class="glyphicon glyphicon-eye-open"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



