.container{
  margin-top: 50px;
}
#opacity{
  background: rgba(white,0.6);
}
#font{
  font-family: 'Tangerine', serif;
  font-size: 45px;
  text-shadow: 4px 4px 4px #aaa;
}

#todo{
  font-family: Arial;
  font-size: 50px;
  text-shadow: 4px 4px 4px #aaa;
}
