
.input{
  position: absolute;
  top: 55%;
  background: rgba(white,0.6);
  width: 300px;
  //border: 2px solid #289DEA;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
}
.example-container{
  padding-top: 10px;
  text-align: center;
}
.input:hover{
  background: rgba(white,1.0);
}
.buttons{
  text-align: right;
  padding: 4px;
}
.mat-expansion-panel-header-title,.mat-expansion-panel-header-description{
  margin-right: 0px;
}
