<div class="input">
  <form [formGroup]="myForm">
    <!--Value: {{myForm.value | json}}-->
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Task Name</mat-label>
        <input matInput formControlName="taskTitle" required>

      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select  formControlName="taskStatus" value="0">
          <mat-option value="0">To Do</mat-option>
          <mat-option value="1">In Progress</mat-option>
          <mat-option value="2">Done</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea style="resize:none" matInput formControlName="taskDescription"></textarea>
      </mat-form-field>
      <div class="buttons">
        <input matInput [matDatepicker]="picker"  formControlName="taskDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
        <button [disabled]="myForm.invalid" mat-raised-button color="primary" (click)="addTask()"> ADD </button>
      </div>
    </div>
  </form>
</div>


